* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: aqua;
  text-align: left;
}

h3 {
  color: deeppink;
  text-align: right;
}

body {
  background-color: gold;
}